@font-face {
    src: url(../fonts/roboto-condensed-light_[allfont.de]);
    font-family: 'Roboto Condensed Light', arial;
}

#foot_note {
    
    background-color: #c2185b;
    color: white;
}

img {
    
    border-radius: 100%;
}

a:hover {
    color: blue;
}
