doctype html

html
    head
        title W E L C O M E
        
    body
        div
        h1 Hello #{data.email}!
        h2 Thank you for your application!
                
        div(id="footer")
            p We always need a footer. . .
